.settings*
.project
.env
.c9revisions
.idea
.build
.migrate
.vagrant
*~
refm*.log
**/.bin/
**/jslint.log
handlebars_build.js
.nodemonignore
npm-debug.log
public/js/compiled/
Cheffile
valuate.lock
data/bins_iso*
data/*.log
.data/
node_modules/
bower_components/
static/
u/
config/development.json
dev-start.sh
setenv.sh
