/*
  Colors
*/

// GREYS
$white: #fff;
$grey-alabaster: #fafafa;
$grey-cloud: #efefef;
$grey-silver: #bbb;
$grey-soot: #232323;
$grey-gravel: #4a4a4a;
$grey-stone: #5e6060;
$grey-dusty: #979797;
$black: #000;


// COOL COLORS
$green-fern: #65b172;
$green-forest: #1a7029;
$green-pale: #f8fff9;
$blue-pale: #e1f6e8;

// WARM COLORS
$purple-grape: #781c4b;
$orange-pumpkin: #ff8426;
$red-pale: #fffcf9;
$brown-clay: #8b572a;

