//TODO: replace color names with symbolic names
$seed_white: #ffffff;
$seed_claret: #781c4b;
$seed_black: #000000;
$seed_mineshaft: #232323;
$seed_tundora: #4a4a4a;
$seed_mulefawn: #8b572a;
$seed_fern: #65b172;
$seed_alabaster: #fafafa;
$seed_forestgreen: #1a7029;
$seed_hintofgreen: #f8fff9;
$seed_silver: #bbbbbb;
$seed_tara: #e1f6e8;
$seed_dustygrey: #979797;
$seed_corduroy: #5e6060;
$seed_sanfelix: #065013;
$seed_gallery: #efefef

