@include fontFace('MonserratRegular','/fonts/montserrat/montserrat-regular-webfont');
@include fontFace('MonserratBlack','/fonts/montserrat/montserrat-black-webfont');
@include fontFace('MonserratBold','/fonts/montserrat/montserrat-bold-webfont');
@include fontFace('MonserratLight','/fonts/montserrat/montserrat-light-webfont');
@include fontFace('Museo','/fonts/museo/museo-700-opentype-webfont');
@include fontFace('MuseoSlab','/fonts/museo-slab/museo-slab-500-webfont-webfont');


/*
 Links
*/

a {
	transition: all 0.2s ease-in;

	&:hover, &:focus {	
		opacity: 0.8;
		text-decoration: none;
		transition: all 0.2s ease-in;
	}
}

/*
 Headings
*/

h1, .h1 {
	font-size: 190%;
}

h2, .h2 {
	font-size: 170%;
}

h3, .h3 {
	font-size: 150%;
}

h4, .h4 {
	font-size: 140%;
}

h5, .h5 {
	font-size: 130%;
}

h6, .h6 {
	font-size: 110%;
}

.heading-1 {
	font-family: $font-family-serif;
	font-size: 260%;
	margin: $spacing-6 0 $spacing-3;
}

.sub-heading {
	font-size: 150%;
}
