form .btn {
	border: none;
	text-transform: uppercase;
	height: $input-height-base; // to match input height
	padding-left: $spacing-4;
	padding-right: $spacing-4;
}

.form-control {
	&:focus {
		box-shadow: none;
	}
}