/*
  Banners: Full-width
*/

.banner-full-block {
	color: $white;
	font-family: $font-family-serif;
	background-size: cover;
	background-repeat: no-repeat;
}

/*
  Buttons
*/

.btn {
	border: none;
	text-transform: uppercase;
}

