/*
  Floats
*/

.float-left {
	float: left;
}

.float-right {
	float: right;
}

/*
  Banners: Full-width
*/

.banner-full-block {
	font-family: $font-family-serif;
	background-size: cover;
	background-repeat: no-repeat;
}

/*
  Buttons
*/

.btn {
	border: none;
	text-transform: uppercase;
	transition: all 0.2s linear;

	&:hover {
		transition: all 0.2s ease-in;
	}
}

.btn-lg-x {
	padding: $spacing-2 $spacing-2;
}

.btn-more {
 	 padding: $spacing $spacing-2;

	.fa-caret-down {
		font-size: 230%;
		margin-left: $spacing-2;
		line-height: 1;
		vertical-align: middle;
		position: relative;
		top: -3px;
	}
}

/*
  Thick left border
*/

.graphic-left-border-block {
	border-left: 15px solid $blue-teal;
	padding-left: ($spacing * 2.5);
}