
/*
  Fonts
*/

$font-family-slab: "MuseoSlab", sans-serif;


/*
  Header: Height
*/

$header-height: 70px;
$header-height-lg: 90px;

/*
  Spacing
*/

$spacing: 10px;
$spacing-2: ($spacing * 2);
$spacing-3: ($spacing * 3);
$spacing-4: ($spacing * 4);
$spacing-5: ($spacing * 5);
$spacing-6: ($spacing * 6);

/*
  View: Proposal
*/

$img-proposal: 280px;

