.landing-section {
	padding: 0 0 $spacing-6 0;
}

/*
  Banner: Full width
*/

.banner-full-block--landing {
	background-image: url("/images/hero.jpg");
	background-position: bottom;
	padding-top: 110px;
	padding-bottom: 110px;

  @media (min-width: $screen-sm-min) {
		padding-top: 210px;
		padding-bottom: 210px;
	}
}

	h1 {
		color: $black;
		font-size: 260%;
		font-family: $font-family-slab;
		line-height: 1.2;
		margin: 0;
		position: relative;
		top: -60px;

		a, a:hover {
			color: inherit;
			border-bottom: 1px solid rgba($black, 0.4);
		}

	  @media (min-width: $screen-sm-min) {
			font-size: 320%;
	  }
	}


/*
  Section: Raise Money
*/

.heading-1--landing-raise {
	position: relative;

	.icon-acorn {
		width: 32px;		
		vertical-align: top;
		margin: 0 $spacing-2 0 0;

		@media (min-width: $screen-lg-min) {
			position: absolute;
			left: -50px;
		}
	}
}

.btn-more--landing-raise {
	margin: $spacing-2 0 $spacing-6 0;
}

/*
  Section: Call to action
*/

.landing-member-action-block {
	color: $white;
	background-color: $green-fern;
	padding-top: $spacing;
	padding-bottom: ($spacing * 2.5);

	.form-horizontal {
		margin-top: $spacing-3;
	}
}

.landing-member-controls.form-group {
	margin-left: 0;
	margin-right: 0;
}

/*
  Section: Get involved: Seed Coop
*/

.logo-seed-campaign {
	margin: $spacing-2 0;
	.logo {
		width: 220px;
		display: block;
		margin: 0 auto;
	}
}

.help-block--credid-card {
	padding: 0 0 $spacing-2 0;
}

.campaign-contrib-button {
  @media (min-width: $screen-sm-min) {
		float: left;
  }

	.input-checkbox-button-label {
		width: 150px;
		text-transform: uppercase;
		text-align: center;
	}
}

.campaign-contrib-info {
  @media (min-width: $screen-sm-min) {
		float: left;
		width: calc(100% - 150px); // match top checkbox
		padding-left: $grid-gutter-width;
  }
}

/*
  Section: Campaign Proposal List
*/


.landing-support-heading {
	background-color: $red-whitish;
	padding: $spacing-2 $spacing-6;
	margin-bottom: $spacing-6;
}

/*
  Campaign: Each
*/

.campaign-block {
	background-color: $red-whitish;
	border: 1px solid $grey-cloud;
	padding: $spacing-3;
	margin-bottom: $spacing-4;
}

.campaign-block-title {
	margin-top: 0;
}

.campaign-img-main {
	float: left;
	max-width: 100%;
	height: auto;
}

.campaign-desc-block {
	float: left;
	padding-left: $grid-gutter-width;
}

.campaign-team-each {
	margin-bottom: $spacing-4;

	&:nth-of-type(2n + 1) {
		clear: both;
	}
}

.campaign-block-list-each {
	margin-top: $spacing-3;
}