/*
  Banner: Full width
*/

.banner-full-block--landing {
	background-image: url("https://unsplash.it/2000/600?image=846");
	padding-top: 220px;
	padding-bottom: 200px;
}

	h1 {
		font-size: 320%;
		font-family: $font-family-slab;
		line-height: 1.2;
		color: $black;
		
		a, a:hover {
			color: inherit;
			border-bottom: 1px solid rgba($black, 0.4);
		}
	}


/*
  Section: Raise Money
*/

.heading-1--landing-raise {
	position: relative;
}

.heading-graphic-acorn {
	vertical-align: top;
	margin: 0 $spacing-2 0 0;

	@media (min-width: $screen-lg-min) {
		position: absolute;
		left: -50px;
	}
}

/*
  Section: Call to action
*/

.landing-member-action-block {
	background-color: $green-fern;
}



