.signin-panel {
  max-width: 350px;
  padding: $spacing-4;
  background-color: $white;
  border-color: $grey-dusty;
  margin: $spacing-4 auto;

  input {
    margin-bottom: $spacing;
  }

  button {
    margin-top: 15px;
  }

  a {
    display: block;
    margin-top: $spacing;
  }

}


