// Ensure your max-width 940 override for container doesn't affect other media queries
// Ask Ralph for a better down caret for learn more button

@import "_colors";
@import "_bootstrap_variable_overrides";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../bower_components/bootstrap-fileinput/css/fileinput";
@import "../../bower_components/summernote/dist/summernote-bs3";
@import "../../bower_components/summernote/dist/summernote";
@import "../../bower_components/font-awesome/css/font-awesome"; // Summernote


@import "_variables";
@import "_mixins";
@import "_fonts";
@import "_globals";
@import "_forms";
@import "_shared";
@import "_navbar";
@import "_view_landing";
@import "_view_proposal";
@import "_view_profile";

/*
  TypeAhead Styling
*/

.twitter-typeahead {
  width: 100%;
}

.typeahead {
  background-color: $white;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.typeahead.empty {
  border: 2px solid red;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999;
  width: 100%;
}

.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.tt-suggestion {
  text-align: left;
  padding: 3px 20px;
  font-size: 16px;
  line-height: 22px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

/*
 No gutter
*/

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}



