---
- hosts: all
  gather_facts: true

- hosts: seedbomb
  sudo: true
  pre_tasks:
    - name: Apt | Importing MongoDB public GPG Key
      apt_key: keyserver=keyserver.ubuntu.com id=7F0CEB10 state=present
    - name: Apt | Adding MongoDB apt repository
      apt_repository: repo='deb http://repo.mongodb.org/apt/ubuntu trusty/mongodb-org/3.0 multiverse' state=present
    - name: Apt | Update cache
      apt: update_cache=yes
    - name: Apt | Install build tools
      apt: name=build-essential

  tasks:
    - name: Mongo | Installing
      apt: name=mongodb-org install_recommends=yes
    - name: Nodejs | Downloading
      get_url: url=https://nodejs.org/dist/v{{ node_version }}/node-v{{ node_version }}-linux-x64.tar.gz dest=/tmp/node-v{{ node_version }}-linux-x64.tar.gz
    - name: Nodejs | Extracting
      shell: tar -xzf "/tmp/node-v{{ node_version }}-linux-x64.tar.gz" -C /usr/local --strip-components=1
    - name: Nodejs | Cleaning up
      file: path=/tmp/node-v{{ node_version }}-linux-x64.tar.gz state=absent
    - name: Npm | Installing Bower
      npm: name=bower global=yes
    - name: Npm | Installing Brunch
      npm: name=brunch global=yes
    - name: Npm | Installing Grunt
      npm: name=grunt global=yes
    - name: Npm | Installing Grunt CLI
      npm: name=grunt-cli global=yes
    - name: Npm | Installing Forever
      npm: name=forever global=yes
    - name: Shipit | Creating user
      user: name=deploy shell=/bin/bash generate_ssh_key=yes ssh_key_bits=2048 ssh_key_file=.ssh/id_rsa
    - name: Shipit | Adding authorized key
      authorized_key: user=deploy key="{{ lookup('file', '~/.ssh/id_rsa.pub') }}"


  roles:
#    - Stouts.mongodb
    - palkan.redis
    - kbrebanov.git
  vars:
    node_version: "4.2.1"
    redis_version: "3.0.5"


